# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll ~actually need these for libsndfile

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib ~actually need these for libsndfile

# Executables
# *.exe ~actually need these for libsndfile
*.out
*.app

# Custom BS
*.wav
*.mp3
*.flac
*.m4a
*.mov
*.mp4
*.png
*.zip
